@import "ember-bootstrap/bootstrap";

h1{
  text-align: center;
  font-size: 30px;
  color: #feb94b;
}
h3 {
  text-align: center;
  color: #feb94b;
}
h4 {
  font-size: 30px;
  color: #9c448f;
}
h5 {
  font-size: 20px;
  color: #ac927c;
}
li {
  color: #6f982f;
  margin-top: 6px;
}
.delete-button-place {
  background-color: #cc1212;
  color: #fff;
}
.delete-button{
  background-color: #cc1212;
  color: #fff;
  float: right;
}
.edit-button {
  background-color: #416de0;
  color: #fff;
}
.item-spacing {
  margin-bottom: 5px;
}
.items-style {
  margin-top: 15px;
  width: 50%;
}
.collapse{
  background-color: #99be8f;
}
.places-style{
  border: 1px solid #4e8064;
  padding: 8px;
}
