<p class='app-explain'><span class='title-name'>TravelDoc</span> is an application where you can make a list of all the
  places you would like to go to. Once you have saved the name of the place, you
can click on it and add all the items you would like to take to that place like a
passport or sunglasses. Each place will have its own separate list of items to take
with you.</p>

<p class='app-explain'> This application was inspired by all the times I have traveled. It was always hard to
keep track of all the things I needed to take to each place I traveled to. Especially when going from a place that
was going through a winter to a place that was sunny and 90 degrees Fahrenheit. So I decided to make an application
that would allow a user to make their own list of items and have unique lists with each new place. Hope you
enjoy using <span class='title-name'>TravelDoc</span>.</p>
