<h1>These are your Places! Click one for more details!</h1>

{{#each model.places as |place|}}
  <h4> {{#link-to 'place' place}}
    {{place.name}}
    {{/link-to}}
  </h4>
{{/each}}

{{#link-to 'new'}}<button>Add New Place</button>{{/link-to}}
{{outlet}}
